In [4]:
import pandas as pd
names=['g','h','w']
data=pd.read_csv("weight-height.csv",names=names)
data.head()

      g          h           w
0  Male  73.847017  241.893563
1  Male  68.781904  162.310473
2  Male  74.110105  212.740856
3  Male  71.730978  220.042470
4  Male  69.881796  206.349801

In [3]:
x=data[['w','h']]

In [ ]:
y=data['g']

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier()
knn.fit(x,y)

In [ ]:
a=int(input("enter your age"))
b=int(input("enter your weight"))
b=b*2.20
testdata=[[a,b]]
test=pd.DataFrame(testdata)
print(test)
print(knn.predict(test))